<nav>
	<ul>
		<li><a href="/rules.html">Rules</a></li>
		<li><a href="/faq.html">FAQ</a></li>
		<li><a href="/roomauth.html">Roomauth</a>
			<ul class="sublinks">
				<li><a href="/former-staff.html">Former Staff</a></li>
			</ul>
		</li>
		<li><a href="/trivia-tracker.html">Trivia Tracker</a>
			<ul class="sublinks">
				<li><a href="/tt-intro.html">TT Intro</a></li>
			</ul>
		</li>
		<li><a href="/question-workshop.html">Question Workshop</a></li>
		<li><a href="/policy-updates.html">Policy Updates</a></li>
		<li><a href="/minigames.html">Minigames</a>
			<ul class="sublinks">
				<li><a href="/blitz.html">Blitz</a></li>
				<li><a href="/tour-duel.html">Tour Duel</a></li>
				<li><a href="/dodgeball.html">Dodgeball</a></li>
				<li><a href="/team-traitor.html">Team Traitor</a></li>
				<li><a href="/prime-minister.html">Prime Minister</a></li>
				<li><a href="/tick-tack-boom.html">Tick-Tack Boom</a></li>
				<li><a href="/ttsa.html">Trivia Tracker Single Asker (TTSA)</a></li>
				<li><a href="/king-of-the-hill.html">King of the Hill</a></li>
				<li><a href="/cataloguer.html">Cataloguer</a></li>
				<li><a href="/spot-that-ditto.html">Spot That Ditto</a></li>
				<li><a href="/suspect-search.html">Suspect Search</a></li>
				<li><a href="/the-reg-game.html">The Reg Game</a></li>
				<li><a href="/mastermind.html">Mastermind</a></li>
				<li><a href="/hosting-and-submission.html">Hosting and Submission</a></li>
			</ul>
		</li>
	</ul>
</nav>
